<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/cufon-yui.js"></script>
    <script type="text/javascript" src="~/js/arial.js"></script>
    <script type="text/javascript" src="~/js/cuf_run.js"></script>
</head>
<body>

    <div class="main">
        @RenderBody()
    </div>

    <div class="footer">
        <br />
        Footer goes here
    </div>
</body>
</html>
